<html lang="en">
<head>
<title>DoughNDrink</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 1px;
  text-align: center;
  background:rgb(247, 246, 223);
  color: black;
  font-size: 10px;
}

/* Page Content */
.content {padding:2px;}
</style>
</head>
<body>
 

<div class="header">
  <h1>DoughNDrink</h1> 
</div>

<!-- <i class='fas fa-cart-plus' style='font-size:36px'></i> -->

<router-outlet></router-outlet>

 
</body>
</html>




