<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            
         
         
            <h4 class="information mt-4">Enter new product data</h4>
            <div [formGroup]="addForm">
            <div  class="form-group form-outline mb-4">
                <label class="form-label" for="form2Example17">subCtgName</label>
                <input formControlName="subCtgName" type="subCtgName" id="form2Example17" class="form-control form-control-lg" />
                <div class="text-danger" *ngIf="(addForm.controls['subCtgName'].errors)&&visible ">
                      <small id="subCtgNameHelp" class="form-text text-danger">Required subCtgName</small>
                </div>
                
              </div>

              <div class="form-group form-outline mb-4">
                <label class="form-label" for="form2Example27">name</label>
                <input formControlName="name" type="text" id="form2Example27" class="form-control form-control-lg" />
                <div class="text-danger" *ngIf="(addForm.controls['name'].errors&&visible)">
                  <small id="nameHelp" class="form-text text-danger">Required name</small>
            </div>
              </div>

              <div  class="form-group form-outline mb-4">
                <label class="form-label" for="form2Example17">size</label>
                <input formControlName="size" type="text" id="form2Example17" class="form-control form-control-lg" />
                <div class="text-danger" *ngIf="(addForm.controls['size'].errors)&&visible ">
                      <small id="sizeHelp" class="form-text text-danger">Required size</small>
                </div>
                
              </div>
              <div  class="form-group form-outline mb-4">
                <label class="form-label" for="form2Example17">price</label>
                <input formControlName="price" type="text" id="form2Example17" class="form-control form-control-lg" />
                <div class="text-danger" *ngIf="(addForm.controls['price'].errors)&&visible ">
                      <small id="priceHelp" class="form-text text-danger">Required price</small>
                </div>
                
              </div>
              <div  class="form-group form-outline mb-4">
                <label class="form-label" for="form2Example17">stock</label>
                <input formControlName="stock" type="text" id="form2Example17" class="form-control form-control-lg" />
                <div class="text-danger" *ngIf="(addForm.controls['stock'].errors)&&visible ">
                      <small id="emailHelp" class="form-text text-danger">Required stock</small>
                </div>
                
              </div>
              <div  class="form-group form-outline mb-4">
                <label class="form-label" for="form2Example17">description</label>
                <input formControlName="description" type="text" id="form2Example17" class="form-control form-control-lg" />
                <div class="text-danger" *ngIf="(addForm.controls['description'].errors)&&visible ">
                      <small id="descriptionHelp" class="form-text text-danger">Required description</small>
                </div>
                
              </div>

              <div  class="form-group form-outline mb-4">
                <label class="form-label" for="form2Example17">image</label>
                <input formControlName="image" type="text" id="form2Example17" class="form-control form-control-lg" />
                
                
              </div>

                <br>
                  <button class="btn btn-primary btn-block confirm-button" (click)="addProduct()">Add</button>
            </div>
            </div>

            
        
    </div>

<router-outlet></router-outlet>