.img {
    float: left;
    width:  150px;
    height: 150px;
    background-size: cover;
}
  

.aa a:link, a:visited , a:hover   {
    
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(247, 246, 223);
  }
   