
<style>
    #content {
                               position: relative;
                           }
                           #content img {
                               position: absolute;
                               top: 30px;
                               right: -700px;
                               width: 200px;
                               height: 200px;
                           }
</style>
<body>


   <div class="row align-items-center py-3 px-xl-5">
       <div class="col-lg-3 d-none d-lg-block">
       
               <h1 class="m-0 display-5 font-weight-semi-bold ">Welcome {{currentUser.fname}}</h1>
        
       </div>
       <div class="col-lg-6 col-6 text-left">
           <form action="">
               <div class="input-group">
                   <!-- <input 
                    #productName type="text" class="form-control"   
                    placeholder="Search for products"
                    (keyup.enter)="searchbygetProductsname(productName.value)"
                    [(ngModel)]="searchText"
                    > -->
                    
                   <!-- <div class="input-group-append">
                       <span class="input-group-text bg-transparent text-primary">
                           <i class="fa fa-search"></i>
                       </span>
                   </div> -->
               </div>
           </form>
       </div>
       <div class="col-lg-3 col-6 text-right">
      
           
           <a class="aa" routerLink="/profile">Profile</a> 
          


           <a></a>&nbsp;&nbsp;&nbsp;&nbsp;<a></a>
           <a  routerLink="/logout">Logout</a>
       </div>
        
   </div>

<!-- Topbar End -->






<!-- Navbar Start -->

<div class="container-fluid mb-5">
   <div class="row border-top px-xl-5">
       <div class="col-lg-3 d-none d-lg-block">
           <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
               data-toggle="collapse" routerLink="#navbar-vertical"
               style="height: 65px; margin-top: -1px; padding: 0 10px;">
               <h1 class="m-0">Categories</h1>
               <i class="fa fa-angle-down text-dark"></i>
           </a>
           <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
               id="navbar-vertical">
               <div class="navbar-nav w-100 overflow-hidden" style="height: 125px">
                   <div class="nav-item dropdown">
                       <a routerLink="/pizza" (click)="callPizzaSubcategory()" class="nav-item nav-link" data-toggle="dropdown">Pizza 
                       </a>
                       <a routerLink="/drinks" (click)="callDrinkSubcategory()" class="nav-item nav-link" data-toggle="dropdown">Drinks  </a> 
                       <a routerLink="/desserts" (click)="callDessertSubcategory()" class="nav-item nav-link" data-toggle="dropdown">Desserts </a> 
                   </div>
                   
               </div>
           </nav>
           <br>
           <div class="span2">
               <a routerLink="/controlproduct">
                   <p><button type="button" class="btn btn-primary btn-block" *ngIf="visible">Controll Products</button></p>
               </a>
               
               <a routerLink="/viewOrders">
                   <p><button type="button" class="btn btn-primary btn-block" *ngIf="visible">View Orders</button></p>
               </a>
           </div>
       </div>
       <div class="col-lg-9">
           <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
               <a routerLink="" class="text-decoration-none d-block d-lg-none">
                   <h1 class="m-0 display-5 font-weight-semi-bold"><span
                           class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
               </a>
               <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                   <div class="navbar-nav mr-auto py-0">
                       <a routerLink="/body" class="nav-item nav-link  ">Home</a>
                       
                       <a routerLink="/contact" class="nav-item nav-link">Contact</a>

                       
                       <a routerLink="/about" class="nav-item nav-link">About Us</a>
                      
                       
                       <div id="content">
                           <img src="https://i.ibb.co/DztR9WD/logo.png" class="ribbon" alt="" />
                           
                       </div>
                   </div>
                   <div class="navbar-nav ml-auto py-0">
                       <!-- <a routerLink="" class="nav-item nav-link">Logout</a> -->
                       <!-- <a routerLink="" class="nav-item nav-link">Register</a> -->

                   </div>
               </div>
           </nav>
           
   



   
<!-- <div id="header-carousel" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
       <div class="carousel-item active" style="height: 410px;">
           <img class="img-fluid" src="assets\c2.jfif" alt="Image">
           <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
               <div class="p-3" style="max-width: 700px;">
                   <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First
                       Order</h4>
                   <h3 class="display-4 text-white font-weight-semi-bold mb-4">DoughNDrink</h3>
                   <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
               </div>
           </div>
       </div> 
   </div>
</div> -->



</div>
</div>

</div>
<!-- Navbar End -->

<!-- <app-home></app-home> -->


   
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h2 class="font-weight-semi-bold m-0">Quality Product</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h2 class="font-weight-semi-bold m-0">Free Shipping</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h2 class="font-weight-semi-bold m-0">14-Day Return</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h2 class="font-weight-semi-bold m-0">24/7 Support</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->
 




 <!-- Categories Start -->
 <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <!-- <p class="text-right">15 Products</p> -->
                <a routerLink="/pizza" (click)="callPizzaSubcategory()" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src=" https://www.foodandwine.com/thmb/4qg95tjf0mgdHqez5OLLYc0PNT4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg" alt="">
                </a>
                <h2 class="font-weight-semi-bold m-0 center">Pizza</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <!-- <p class="text-right">15 Products</p> -->
                <a routerLink="/drinks" (click)="callDrinkSubcategory()" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="https://static.toiimg.com/thumb/89078867.cms?width=680&height=512&imgsize=52364" alt="">
                </a>
                <h2 class="font-weight-semi-bold m-0">Drinks</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <!-- <p class="text-right">15 Products</p> -->
                <a routerLink="/desserts"  (click)="callDessertSubcategory()" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="https://www.glutenfreepalate.com/wp-content/uploads/2017/02/Double-Chocolate-Chip-Cookies3.2.jpg" alt="">
                </a>
                <h2 class="font-weight-semi-bold m-0">Desserts</h2>
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->





     







 
    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">You May Like</span></h2>
        </div>
    <div class="row px-xl-5 justify-content-center" >
        <div class="col-3 " *ngFor="let item of pizzas;">
            <div class="owl-carousel related-carousel">
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" style="height:250px;" [src]="item.image" alt="not found">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3" >
                        <h3 class="text-truncate mb-3">{{item.name}}</h3>
                        <div class="d-flex justify-content-center">
                            <h3>{{item.price}}L.E</h3>
                        </div>
                    </div>
                    <div class="card-footer text-center  d-flex justify-content-center bg-light border">
                        <a href="/details/{{item.productId}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <!-- <a routerLink="/cart" (click)="addToCart(this.item)" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </div>
    <!-- Products End -->












 <!-- Footer Start -->
 <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a routerLink="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold">DoughNDrink</h1>
            </a>
            <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum
                dolore amet erat.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h2 class="font-weight-bold text-dark mb-4">Quick Links</h2>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" routerLink="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" routerLink="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                            Shop</a>
                        <a class="text-dark mb-2" routerLink="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop
                            Detail</a>
                        <a class="text-dark mb-2" routerLink="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping
                            Cart</a>
                        <a class="text-dark mb-2" routerLink="checkout.html"><i
                                class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-dark" routerLink="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                            Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h2 class="font-weight-bold text-dark mb-4">Quick Links</h2>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" routerLink="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" routerLink="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                            Shop</a>
                        <a class="text-dark mb-2" routerLink="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop
                            Detail</a>
                        <a class="text-dark mb-2" routerLink="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping
                            Cart</a>
                        <a class="text-dark mb-2" routerLink="checkout.html"><i
                                class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-dark" routerLink="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                            Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h2 class="font-weight-bold text-dark mb-4">Newsletter</h2>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                required="required" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe
                                Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" routerLink="#">Your Site Name</a>. All Rights Reserved.
                Designed
                <a class="text-dark font-weight-semi-bold" routerLink="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="../../../assets/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a routerLink="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
 

<!-- <router-outlet></router-outlet> -->